/** @format */

div[class^="col"] {
  min-height: 808px;
  border: 1px solid #000;
}

.custom-height {
  background-color: #d9d9d9;
  min-width: 153px;
}

.row {
  border: 1px dashed red;
}

.purple {
  width: 50px;
  text-align: start;
}

.icon-container {
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.icon {
  margin-left: 10px; /* Add some space between the radio button and the icon */
}

.row-text {
  display: flex;
  align-items: center; /* Align items vertically centered */
}
